canvas {
  display: block;
  margin: auto;
  border: solid 1px blanchedalmond;
  border-left: none;
  border-right: none;
  image-rendering: pixelated;
  margin-bottom: 50px;
  margin-top: -180px
  /* width: 100vh; */
}
