/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* main styling */
html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.7rem;
}

body {
  background-image: url("../img/toppings.svg");
  backdrop-filter: brightness(25%);
}

/* utility classes  */
.container {
  margin: auto;
  max-width: 900px;
  overflow: auto;
  padding: 0 20px;
}

h1 {
  font-family: "Retrofunk, sans-serif";
}

h1,h2,h3 {
  padding-bottom: 20px;
}

h1 {
  font-family: 'retrofunk_script_personal_uRg';
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 10px 0;
}

/* navbar */
#navbar {
  background: #7C7597;
  color: white;
  overflow: auto;
}

#navbar a {
  color: white;
  text-decoration: none;
}

.home {
  text-align: center;
  color: #7C7597;
  height: 15rem;
  width: 40rem;
  /* margin-top: -120px; */
  /* background: url("../img/blue_box.png") no-repeat center center/contain; */
}

.banner {
  background: url("../img/banner.svg") center center/contain;
  height: 180px;
  text-align: center;
  /* margin-bottom: 50px; */
}

/* pizza boxes */
#showcase ul li {
  position: relative;
  cursor: pointer;
}

/* #showcase ul li:hover {
  background: blanchedalmond;
} */

.pizza_boxes {
  margin-top: 50px;
  background: url("../img/pizza\ boxes.svg") no-repeat center center/contain;
  height: 500px;
  text-align: center;
  line-height: 120px;
  padding-top: 30px;
}

#showcase .blue_box {
  z-index: 4;
  background: url("../img/blue_box.svg") no-repeat center center/contain;
  margin-bottom: -155px;
  margin-left: 20px;
  border: black 2px solid;
}
#showcase .pink_box {  
  z-index: 3;
  background: url("../img/pink_box.svg") no-repeat center center/contain;
  margin-bottom: -175px;
  margin-left: 80px;
  transform: rotate(-5deg);
  /* border: black 2px solid; */
}
#showcase .green_box {  
  z-index: 2;
  background: url("../img/green_box.svg") no-repeat center center/contain;
  margin-bottom: -195px;
  transform: rotate(5deg);
  /* border: black 2px solid; */
}
#showcase .purple_box {  
  z-index: 1;
  background: url("../img/purple_box.svg") no-repeat center center/contain;
  margin-left: 60px;
}

#navbar .topnav {
  background: #514875;
  color: white;
  overflow: auto;
}

#navbar .topnav a {
  color: white;
}

#navbar .topnav ul {
  float: right;
}

#navbar .topnav ul li {
  float: left;
}

#navbar .topnav ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar .topnav ul li a:hover {
  background: #333;
  color: blanchedalmond;
}

.deals {
  /* border: 10px solid yellow; */
  background: #DEB92A;
  text-align: center;
  /* border-radius: 90px; */
  color: #514875;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.video_1 {
  float: left;
}
.video_2 {
  float: right;
}

/* menu  */
.pep {
  background: url("../img/pep_card.svg") no-repeat center center/contain;
  height: 300px;
}

.supreme {
  background: url("../img/supreme_\ card.svg") no-repeat center center/contain;
  height: 300px;
}

.pine {
  background: url("../img/pine_card.svg") no-repeat center center/contain;
  height: 300px;
}

.olive {
  background: url("../img/olive.svg") no-repeat center center/contain;
  height: 300px;
}

.parm {
  background: url("../img/parm.svg") no-repeat center center/contain;
  height: 300px;
}

.mar {
  background: url("../img/mar.svg") no-repeat center center/contain;
  height: 300px;
}

.card p {
  /* color: white; */
  text-align: center;
  position: relative;
  padding-top: 150px;
}

.total_pizza {
  margin: 40px;
  padding-bottom: 20px;
  width: 450px;
}

.btn {
  border: none;
  background: url("../img/button.svg") no-repeat center center;
  height: 75px;
  position: relative;
  margin-left: 300px;
  margin-top: -50px;
  text-align: center;
  width: 200px;
}
.btn2 {
  border: none;
  background: url("../img/button.svg") no-repeat center center;
  height: 75px;
  position: relative;
  margin-left: 300px;
  margin-top: -50px;
  text-align: center;
  width: 200px;
}

.btn .add {
  cursor: pointer;
  color: white;
  padding: 17px;
}
.btn2 .add2 {
  cursor: pointer;
  color: white;
  padding: 17px;
}

.btn:hover {
  background: url("../img/button_hover.svg") no-repeat center center;
  /* height: 75px; */
  cursor: pointer;
  color: white;
  padding: 0;
}

.btn2:hover {
  background: url("../img/button_hover.svg") no-repeat center center;
  /* height: 75px; */
  cursor: pointer;
  color: white;
  padding: 0;
}

.btn:active {
  background: url("../img/button_pressed.svg") no-repeat center center;
  width: 230px;
}

.btn2:active {
  background: url("../img/button_pressed.svg") no-repeat center center;
  /* width: 230px; */
  height: 90px;
}



/* side menu  */
.chick {
  background: url("../img/chicken_\ card.svg") no-repeat center center/contain;
  height: 300px;
}

.chick_salad {
  background: url("../img/chicken_salad.svg") no-repeat center center/contain;
  height: 300px;
}

.caesar {
  background: url("../img/ceaser_salad.svg") no-repeat center center/contain;
  height: 300px;
}

.soda {
  position: relative;
  background: url("../img/drink_card.svg") no-repeat center center/contain;
  height: 300px;
  width: auto;
}

/* drop down css  */
.dropbtn {
  position: absolute;
  left: 50%;
  margin-top: 170px;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  left: 50%;
  margin-top: 170px;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.small_pep {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_pep.svg") no-repeat center center/contain;
}
.small_supreme {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_supreme.svg") no-repeat center center/contain;
}
.small_pine {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_pine.svg") no-repeat center center/contain;
}
.small_olive {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_olive.svg") no-repeat center center/contain;
}
.small_mar {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_mar.svg") no-repeat center center/contain;
}
.small_parm {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_parm.svg") no-repeat center center/contain;
}

.one_click {
  display: flex;
  overflow-x: scroll;
}

<<<<<<< HEAD
/*delivery form*/

.delivery-column {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.payment-container {
  max-width: 800px;
  background-color: #EAE4CA;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 800px) {
  .payment-container, .contact-container, .form-container {
      flex: 100%;
    max-width: 800px;
    flex-direction: column;
  }


.container {
  background-color: #dbd4d4;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}


input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */

@media (max-width: 800px) {
  .column {
    flex-direction: column;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/* contact container*/

.form-container {
  border-radius: 5px;
  padding: 20px;
  flex: 1;
  margin-left: 200px;
}

.contactParent {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 800px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.contact-cardPic {
  display: flex;
  flex:1;
}

.contact-card {
  display: flex;
  flex:1;
  background: #EAE4CA;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
=======
.small_card {
  margin-bottom: 20px;
>>>>>>> 54f587ecaee99c6d28079364702907ebcd75529a
}