/* reset */

h2 {
  color: #7C7597;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  color: white;
  text-decoration: none;
}

.marg {
  margin-right: 5px;
}

h2 {
  color: #7C7597;
}


body {
  background: url('../img/toppings.svg') center center;
  /* backdrop-filter: brightness(25%); */
  background-size: auto;
  background-attachment: fixed;
}

.body2 {
  background: url('../img/toppings.svg') center center;
  /* backdrop-filter: brightness(25%); */
  /* height: 2000px; */
  background-size: auto;
  background-attachment: fixed;
}

header {
  background: url('../images/banner.svg') center center/contain;
  margin: -10px;
  /* background-image: url('images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  height: 200px;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  /* background-color: rgba(10,10,10,0.3); */
}

nav {
  /* margin-right: 50px; */
  position: absolute;
  /* width: 100%; */
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 53px 60px 0 60px;
}

nav li {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 17px;
  width: 80px;
  list-style: none;
  display: inline-block;
  /* padding-right: 10px; */
  /* padding-left: 10px; */
}

nav li span {
padding-left: 5px;
color: black;
}

li a {
padding: 10px;
border-radius: 90px;
background-color: #000;
text-decoration: none;
}

.phone  {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.cart ion-icon {
  vertical-align: bottom;
  color: black;
  font-size: 20px;
  padding-right: 5px;
  padding-bottom: 4px;
}

h1{
  display: flex;
  /* max-width: 420px; */
  justify-content: center;
  margin: auto;
  border-radius: 90px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background: #B7D79E center center/cover;
  height: 60px;
  color: #514875;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.cart a {
  position: sticky;
  background-color: #CC6843;
  border: black 5px solid;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.image {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  /* overflow: hidden; */
}

.add-cart {
  position: absolute;
  text-decoration: none;;
  /* margin: -100px; */
  padding-top: 15px;
  color: white;
  /* border: black 1px solid; */
  /* margin-left: 80px; */
  height: 70px;
  width: 220px;
  background: url('../images/button.svg') no-repeat center center/contain;
  /* background-color: darkgrey; */
  transition: all 0.11s ease-in-out;
  /* opacity: 0; */
  cursor: pointer;
  text-align: center;
}
.add-carts {
  display: inline-block;
  position: absolute;
  text-decoration: none;;
  /* margin: -100px; */
  padding-top: 15px;
  color: white;
  /* border: black 1px solid; */
  /* margin-left: -80px; */
  height: 70px;
  width: 220px;
  background: url('../images/button.svg') no-repeat center center/contain;
  /* background-color: darkgrey; */
  transition: all 0.11s ease-in-out;
  /* opacity: 0; */
  cursor: pointer;
  text-align: center;
}

.cart1:hover {
  /* bottom: 50px; */
  background: url('../images/button_hover.svg') no-repeat center center/contain;
  opacity: 1;
  /* padding: 10px; */
  text-decoration: none;
}

.cart1:active {
  /* bottom: 50px; */
  background: url('../images/button_pressed.svg') no-repeat center center/contain;
  /* margin-left: 10px; */
  opacity: 1;
  overflow: visible;
  /* padding: 10px; */
  text-decoration: none;
  margin-left: -90px;
}

.logo {
  cursor: pointer;
  display: flex;
  border: solid black 5px;
  background: #CC6843;
  border-radius: 90px;
  padding: 8px;
  height: 100px;
  margin-top: -20px;
  margin-right: 10px;
  /* margin-bottom: 10px; */
}

.cart {
  position: fixed;
  width: 100%;
}

.cart1 {
margin-left: -107px;
}

.add-carts {
  margin-left: 150px;
}

.add-carts:active {
  margin-left: 160px;
}

.mukbang {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* main styling */

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.7rem;
}


@font-face {
  font-family: 'retrofunk_script_personal_uRg';
  src: url('../font/retrofunkscriptpersonaluse-v6xo-webfont.woff2') format('woff2'),
      url('../font/retrofunkscriptpersonaluse-v6xo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* utility classes  */




/* h1,h2,h3 { */
  padding-bottom: 20px;
}



p {
  margin: 10px 0;
}

/* /* navbar */
#navbar {
  background: #7C7597;
  color: white;
  overflow: auto;
}

/* #navbar a { */
  color: white;
  text-decoration: none;
} */

/* .home { */
  text-align: center;
  color: #7C7597;
  height: 15rem;
  width: 40rem;
  /* margin-top: -120px; */
  /* background: url("../img/blue_box.png") no-repeat center center/contain; */
}

/* .banner { */
  background: url("../img/banner.svg") center center/contain;
  height: 180px;
  text-align: center;
  vertical-align: middle;
  padding-top: 70px;
  /* margin-bottom: 50px; */
}

/* pizza boxes */
#showcase ul li {
  position: relative;
  /* cursor: pointer; */
}

/* #showcase ul li:hover {
  background: blanchedalmond;
} */

.pizza_boxes {
  background: url("../img/pizza_boxes.svg") no-repeat center center/contain;
  height: 500px;
  text-align: center;
  line-height: 120px;
  padding-top: 10px;
}


/* #navbar .topnav { */
  background: #514875;
  color: white;
  overflow: auto;
}

/* #navbar .topnav a { */
  color: white;
}

/* #navbar .topnav ul {
  float: right;
}

#navbar .topnav ul li {
  float: left;
}

#navbar .topnav ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar .topnav ul li a:hover {
  background: #333;
  color: blanchedalmond;
} */

.deals {
  /* border: 10px solid yellow; */
  background: #DEB92A;
  text-align: center;
  /* border-radius: 90px; */
  color: #514875;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

/* menu  */
.pep {
  background: url("../img/pep_card.svg") no-repeat center center/contain;
  height: 300px;
}

.supreme {
  background: url("../img/supreme_\ card.svg") no-repeat center center/contain;
  height: 300px;
}

.pine {
  background: url("../img/pine_card.svg") no-repeat center center/contain;
  height: 300px;
}

.olive {
  background: url("../img/olive.svg") no-repeat center center/contain;
  height: 300px;
}

.parm {
  background: url("../img/parm.svg") no-repeat center center/contain;
  height: 300px;
}

.mar {
  background: url("../img/mar.svg") no-repeat center center/contain;
  height: 300px;
}

.card p {
  /* color: white; */
  text-align: center;
  position: relative;
  padding-top: 150px;
}

.total_pizza {
  margin: 40px;
  padding-bottom: 20px;
  width: 450px;
}

.btn {
  border: none;
  background: url("../img/button.svg") no-repeat center center;
  height: 75px;
  position: relative;
  margin-left: 300px;
  margin-top: -50px;
  text-align: center;
  width: 200px;
}
.btn2 {
  border: none;
  /* background: url("../img/button.svg") no-repeat center center; */
  height: 75px;
  position: relative;
  margin-left: 300px;
  margin-top: -50px;
  text-align: center;
  width: 200px;
}

.btn .add {
  cursor: pointer;
  color: white;
  padding: 17px;
}
.btn2 .add2 {
  cursor: pointer;
  color: white;
  padding: 17px;
}

.btn:hover {
  /* background: url("../img/button_hover.svg") no-repeat center center; */
  /* height: 75px; */
  cursor: pointer;
  color: white;
  padding: 0;
}

/* .btn2:hover { */
  background: url("../img/button_hover.svg") no-repeat center center;
  /* height: 75px; */
  cursor: pointer;
  color: white;
  padding: 0;
}

.btn:active {
  background: url("../img/button_pressed.svg") no-repeat center center;
  width: 230px;
}

/* .btn2:active { */
  background: url("../img/button_pressed.svg") no-repeat center center;
  /* width: 230px; */
  height: 90px;
}



/* side menu  */
.chick {
  background: url("../img/chicken_\ card.svg") no-repeat center center/contain;
  height: 300px;
}

.chick_salad {
  background: url("../img/chicken_salad.svg") no-repeat center center/contain;
  height: 300px;
}

.caesar {
  background: url("../img/ceaser_salad.svg") no-repeat center center/contain;
  height: 300px;
}

.soda {
  position: relative;
  background: url("../img/drink_card.svg") no-repeat center center/contain;
  height: 300px;
  width: auto;
}

/* drop down css  */
.dropbtn {
  position: absolute;
  left: 50%;
  margin-top: 170px;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  left: 50%;
  margin-top: 170px;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.small_pep {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_pep.svg") no-repeat center center/contain;
}
.small_supreme {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_supreme.svg") no-repeat center center/contain;
}
.small_pine {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_pine.svg") no-repeat center center/contain;
}
.small_olive {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_olive.svg") no-repeat center center/contain;
}
.small_mar {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_mar.svg") no-repeat center center/contain;
}
.small_parm {
  margin-top: 100px;
  height: 200px;
  background: url("../img/small_parm.svg") no-repeat center center/contain;
}

.one_click {
  display: flex;
  overflow-x: scroll;
}

.small_card {
  margin-bottom: 20px;
}

/*delivery form*/

.delivery-column {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  padding: 15px;
}

.payment-container {
  max-width: 800px;
    background-color: #EAE4CA;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 25px;
  padding-bottom: 20px;
  border: none;
  height: 100px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  margin-left: 50px;
}


input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 90px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

.orderpic {
  width: 90px;
  height: 90px;
}

/* contact container*/

.form-container {
  border-radius: 5px;
  padding: 20px;
}

.deals {
  text-align: center;
  margin-bottom: 10px;
}

.contactParent {
  /* max-width: 800px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input, #contact-form textarea {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  /* border: 1px #ddd solid; */
  display: block;
  margin-bottom: 5px;
  color: #000;
}

#contact-form textarea {
  border-radius: 10px;  
  height: 150px;  
  width: 100%;
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
  /* border-color: #f7c08a; */
}
.contact-cardPic {
  display: flex;
}

.contact-card {
  display: flex;
  flex-direction: column;
  background: #7C7597;
  padding: 5px 20px 15px 20px;
  /* border: 1px solid lightgrey; */
  border-radius: 40px;
  margin-top: auto;
  margin: auto;
  margin-bottom: 100px;
}

/* cart  */




/* nav li { */
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

/* nav li span { */
  padding-left: 5px;
}

/* li a { */
  padding: 5px;
  background-color: white;
  text-decoration: none;
}
.form-group {
  display: flex;
  max-width: 1500px;
  border-radius: 5px;
  padding: 5px;
  flex: 1;
  }

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */

@media (max-width: 800px) {
  .column {
    flex-direction: column;
  }
  .col-25 {
    margin-bottom: 20px;
  }
  .payment-container {
      flex: 100%;
      max-width: 400px;
  }
  .contactParent {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-cardPic {
    max-width: 400px;
    align-items: center;
  }
  .contact-card {
    margin-left: 0%;
    max-width: 400px;
  }
    #contact-form textarea {
      margin-top: 10px;
      border-radius: 10px;
      max-height: 200px;
      max-width: 200px;
    }

    .delivery-column {
      flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    }
}

/* Deals Page */

.deals-header-text {
  text-align: center;
  padding-top: 50px;
}

.deal_bg {
  background: url("../img/toppings.svg");

}

.deals_ordernow {
  border: 3px solid green;
}

.deal_button {
  text-align: right;
}

/* Deals Grid */
#deal1 {
  grid-area: deal1;
  background-image: url("../img/Deal1.svg");
  background-repeat: no-repeat;
}

#deal2 {
  grid-area: deal2;
  background-image: url("../img/Deal2.svg");
  background-repeat: no-repeat;
}

#deal3 {
  grid-area: deal3;
  background-image: url("../img/Deal3.svg");
  background-repeat: no-repeat;
}

#deal4 {
  grid-area: deal4;
  background-image: url("../img/Deal4.svg");
  background-repeat: no-repeat;
}


#dealscategoryGrid {
  margin: 30px 10%;
  display: grid;
  grid-template-rows: 50vh 50vh;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-areas:
  "deal1 deal2"
  "deal3 deal4"
  ;
}


/* Footer Grid */
#Contact_Us {
  grid-area: Contact_Us;
}

#Hours {
  grid-area: Hours;
}

#Follow_Us {
  grid-area: Follow_Us;
}


#footercategoryGrid {
  color: white;
  background-color: #333;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
  "Contact_Us Hours Follow_Us"
  ;
}

/* Rewards Page */
.rewards {
  text-align: center;
  padding-top: 30px;
  color: white;
}


.nav_container {
  align-items: center;
  text-align: center;
}

.main_nav {
  align-items: center;
  text-align: center;
}

/* pizza box nav ---------------  */
.pizza_boxes {
  margin: auto;
  display: flex;
  /* max-width: 500px; */
  color: #000;
}

.arrow {
  border: solid #7C7597;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
}
.right {
  margin-left: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  margin-right: 20px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);

/* .order {  
  min-width: 700px;
  position: ;
  border: black 5px solid;
  width: 600px;
  opacity: 0;
  margin-top: 15px;
  font-size: 90px;
  margin-left: 240px;
  transform: rotate(-1deg);
}
.deal {  
  opacity: 0;
  width: 400px;
  height: 100px;
  border: black 5px solid;
  font-size: 80px;
  margin-left: 50px;
  transform: rotate(15deg);
  margin-top: 20px;
}
.come {
  opacity: 0;
  width: 355px;
  height: 100px;
  border: black 5px solid;
  font-size: 60px;
  margin-top: -35px;
  margin-left: 530px;
  transform: rotate(-20deg);
}
.contact {
  opacity: 0;
  border: black 5px solid;
  font-size: 90px;
  margin-top: 30px;
  transform: rotate(3deg);
  margin-left: 100px;
  width: 600px;
  height: 100px;
  cursor: pointer;
} */



