/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */
html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.7rem;
  /* background: url("../img/toppings.png")center center/contain; */
}


a {
  color: #333;
  text-decoration: none;
}

h1,h2,h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* navbar */
#navbar {
  background: #7C7597;
  color: white;
  overflow: auto;
}

#navbar a {
  color: white;
}

.home {
  text-align: center;
  color: #7C7597;
  height: 15rem;
  width: 40rem;
  /* margin-top: -120px; */
  /* background: url("../img/blue_box.png") no-repeat center center/contain; */
}

.banner {
  background: url("../img/banner.svg") center center/contain;
  height: 180px;
  text-align: center;
  margin-bottom: 50px;
}

/* pizza boxes */
.blue_box {
  position: relative;
  z-index: 4;
  background: url("../img/blue_box.svg") no-repeat center center/contain;
  margin-bottom: -155px;
  margin-left: 20px;
}
.pink_box {
  position: relative;
  z-index: 3;
  background: url("../img/pink_box.svg") no-repeat center center/contain;
  margin-bottom: -175px;
  margin-left: 80px;
  transform: rotate(-5deg);
}
.green_box {
  position: relative;
  z-index: 2;
  background: url("../img/green_box.svg") no-repeat center center/contain;
  margin-bottom: -195px;
  transform: rotate(5deg);
}
.purple_box {
  position: relative;
  z-index: 1;
  background: url("../img/purple_box.svg") no-repeat center center/contain;
  margin-left: 60px;
}

.menu ul li {
  height: 20em;
}
ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  margin: 25px;
}

/* pizza cards  */
.pep {
  background: url("../img/pep_card.svg") no-repeat center center/contain;
}
.supreme {
  background: url("../img/supreme_\ card.svg") no-repeat center center/contain;
  
}
.pine {
  background: url("../img/pine_card.svg") no-repeat center center/contain;
}

/* sides cards  */
.chicken {
  background: url("../img/chicken_\ card.svg") no-repeat center center/contain;
}

.chick_salad {
  background: url("../img/chicken_salad.svg") no-repeat center center/contain;
}

.ceaser_salad {
  background: url("../img/ceaser_salad.svg") no-repeat center center/contain;
}

.drinks {
  background: url("../img/drink_card.svg") no-repeat center center/contain;
}

.beverages ul li {
  margin: 0px;
}
